@import url('CreateScholarships.css');

.create-media-page .page-title {
  color: #0d2747;
  font-weight: 600;
}

.form-section textarea {
  resize: vertical;
}

.form-section input:focus,
textarea:focus {
  border-color: #0d2747;
}

.draft-btn {
  border: 2px solid #0d2747;
  color: #0d2747;
}

.draft-btn:hover {
  background-color: #0d2747;
  color: #fff;
}
