@import url('CreateScholarships.css');

.create-achievements-page .page-title {
  color: #0d2747;
  font-weight: 600;
}

.form-section input:focus,
textarea:focus,
select:focus {
  border-color: #0d2747;
  box-shadow: 0 0 3px rgba(13, 39, 71, 0.4);
}

.form-section textarea {
  resize: vertical;
}

.draft-btn {
  border: 2px solid #0d2747;
  color: #0d2747;
}

.draft-btn:hover {
  background-color: #0d2747;
  color: #fff;
}
